<h1 class="titutloproduct">Productos</h1>

<table>
    <tr>
      <th>Producto</th>
      <th>Precio</th>
      <th>Delete</th>
    </tr>
    <tr class="trtable" *ngFor="let item of products">
      <td><a [routerLink]="['/products/view', item.product_id]">{{item.product_name}}</a></td>
      <td>{{item.price}}</td>
      <td><button class="botondelete" (click)="navigateToDelete(item.product_id)">Delete</button></td>
    </tr>
</table>



<style>
  .botondelete{
  position: center;
  display: block;
  width: 100px;
  height: 36px;
  border-radius: 18px;
  background-color: #1293F0;
  border: solid 1px transparent;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  cursor: pointer;
  transition: all .1s ease-in-out;


</style>
