<h2>¿Quieres eliminar el proudcto con id: {{product_id}} ?</h2>
<div class="botones">
<button class="butontrue" (click)= "deleteProduct(product_id)">Si</button>
<button class="butonfalse" (click)= "goBack()">No</button>
</div>

<style>
  h2{
    font-family: sans-serif;
  }
  .botones{
   align-content: center;
  }
  .butontrue{
  position: center;
  display: block;
  width: 100px;
  height: 36px;
  border-radius: 18px;
  background-color: #1BD185;
  border: solid 1px transparent;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  cursor: pointer;
  transition: all .1s ease-in-out;
}


.butonfalse{
  position: center;
  display: block;
  width: 100px;
  height: 36px;
  border-radius: 18px;
  background-color: #F01232;
  border: solid 1px transparent;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  cursor: pointer;
  transition: all .1s ease-in-out;
}
</style>

