<form  [formGroup]="productsForm" (ngSubmit)="addProduct(productsForm.value)" >
  <div>
    <label >product_id:</label>
    <input type="text" formControlName = "product_id">
  </div>
  <div>
    <label>product_name:</label>
    <input type="text" formControlName="product_name">
  </div>
  <div>
    <label>stock:</label>
    <input type="number"  formControlName="stock">
  </div>
  <div>
    <label>price:</label>
    <input type="number" formControlName="price">
  </div>
  <div>
    <label>category:</label>
    <input type="text" formControlName="category">
  </div>
  <div>
    <label>descripcion:</label>
    <input type="text" formControlName="descripcion">
  </div>

  <div class="botoncreate">
    <button  class="botoncreate" type="submit">Subir</button>
  </div>
</form>



<style>

  form{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

  form input {
  width: 90%;
  height: 30px;
  margin: 0.5rem;
}


  form label{
    font-family: Arial, Helvetica, sans-serif
  }
  form input{
    margin-right: 50px;
  }
</style>
